.wd-col-20pc {
    float: left;
    width: 20%;
}

.wd-col-60pc {
    float: left;
    width: 60%;
}

.wd-kanbas-navigator {
    color: white;
    padding: 0px;
    width: 80px;
    font-size: 0.8em;
    background-color: black;
}

.wd-kanbas-navigator li {
    list-style-type: none;
    margin-bottom: 20px;
    text-align: center;
    background-color: black;
}

.wd-kanbas-navigator li a {
    color: white;
    margin-top: 10px;
    text-decoration: none;
}

.wd-kanbas-navigator li a:active {
    color: red;
    background-color: white;
}


ul.wd-course-navigation.list-group {
    border-radius: 0px;
    list-style-type: none;
}

ul.wd-course-navigation .list-group-item {
    border: none;
    padding-left: 2px;
    list-style-type: none;
    padding-bottom: 5px;

}

ul.wd-course-navigation .list-group-item.active {
    color: black;
    background-color: white;
    border: none;
    border-left: 2px solid black;
}

ul.wd-course-navigation a {
    color: red;
    text-decoration: none;
}

ul.wd-course-navigation .list-group-item.active a {
    color: black;
}

card-title {
    font-size: 
}