.wd-col-20pc {
    float: left;
    width: 20%;
}

.wd-col-60pc {
    float: left;
    width: 60%;
}

.wd-kanbas-navigator {
    color: white;
    padding: 0px;
    width: 80px;
    font-size: 0.8em;
    background-color: black;
}

.wd-kanbas-navigator li {
    list-style-type: none;
    padding: 10px;
    text-align: center;
    background-color: black;
}

.wd-kanbas-navigator li a {
    color: white;
    margin-top: 10px;
    text-decoration: none;
}

.wd-kanbas-navigator li a.active {
    color: red;
    background-color: white;
}
