.wd-col-20pc {
    float: left;
    width: 20%;
}

.wd-col-60pc {
    float: left;
    width: 60%;
}

ul.wd-kanbas-navigator {
    padding: 0px;
    font-size: 0.8em;
    background-color: black;
    width: 80px;
    max-height: 100%;
}

ul.wd-kanbas-navigator li {
    list-style-type: none;
    padding: 5px;
    text-align: center;
    background-color: black;
    margin-bottom: 10px;
}

ul.wd-kanbas-navigator li a {
    color: white;
    margin-top: 10px;
    text-decoration: none;
}

ul.wd-kanbas-navigator li.active {
    color: red;
    background-color: white;
    padding: 5px;
}

ul.wd-kanbas-navigator li.active a {
    color: red;
    background-color: white;
    padding: 2px;
}

.wd-kanbas-navigator li.active i{
    color: grey;
}

.wd-kanbas-navigator li i{
    color: red;
}