ul.wd-course-navigation .list-group{
    border-radius: 0px;
    margin: none;
  }
  ul.wd-course-navigation .list-group-item {
    border: none;
    list-style-type: none;
    font-size: .8em;
  }
  
  ul.wd-course-navigation .list-group-item.active {
    color: black;
    background-color: white;
    border: none;
    border-left: 2px solid black;
    list-style-type: none;
  }
  
  ul.wd-course-navigation a {
    color: red;
    text-decoration: none;
  }
  
  ul.wd-course-navigation .list-group-item.active a {
    color: black;
  }

  /* .wd-modules.list-group-flush {
    border-left: 2px solid green;
  } */