.btn-secondary {
    color: #2d3b45;
    background-color: #f5f5f5;
    border: 1px solid;
    border-color: #c7cdd1;
}

.btn-secondary:hover {
    color: #2d3b45;
    background-color: #e8e8e8;
    border: 1px solid;
    border-color: #c7cdd1;
}

.table:hover{
    
}